<h1>{{ article.title }}</h1>
<small>{{ article.author }}</small>
<time>{{ article.published_at | date: '%d/%m/%y' }}</time>
<img src="{{ article.image | img_url: 'large' }}" loading="lazy" alt="{{ article.image.alt }}">
<div>{{ article.content }}</div>